{% extends "base.html" %}


{% block title %}Podrobnosti{% endblock title %}


{% block naslov %}Obnovi Opravilo {% endblock naslov %}
{%  block opis %} 
    Pregled podrobnosti končanih opravil lahko izbrišeš ali ponovno aktivirš to opravilo
{% endblock opis %}


{% block vsebina %}
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Podrobnosti Opravila - Naloge
            </div>
            <p><span class="krepko">Opravilo id: </span> {{opravilo.key.id()}}</p>
            <p><span class="krepko">Naloga: </span> {{opravilo.naloga}}</p>
            <p>
            <span class="krepko">Izvajalec: </span> {{opravilo.izvajalec}}     
            </p>
            <p>
                <form action="/opravilo/{{opravilo.key.id()}}/ponovi" method="post">
                    <label for="opis">Opis naloge</label> <br>
                    <textarea name="opis" id="opis" cols="30" rows="10" class="form-control">
                        {{opravilo.opis}}
                    </textarea>
                    <br>
                    <div class="form-group">
                        <label for="finished"> Status opravila </label> <br>
                        <select name="finished" id="finished">
                           <option value="ne">Ponovno naredi</option>
                            <option value="x">Izbriši</option>
                        </select>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-success">OK</button>
                    <button type="reset" class="btn btn-info">Počisti spremembe</button>
                </form>
            </p>
        </div>
    </div>

{% endblock vsebina %}